<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrj.mapper.BalanceMapper">
	<!--留着以后用  -->
	<!--修改用户余额-->
	<update id="updateUserBalance" parameterType="java.util.HashMap">
		UPDATE balance SET balance=#{balanceMoney} WHERE user_id=#{userId}
	</update>

	<!--通过充值订单流水号查询 用户该笔交易-->
	<select id="findBalanceByRechargeOrderNumber" parameterType="java.lang.String" resultType="com.lrj.pojo.BalanceRecord">
		select * from balance_log WHERE recharge_order_number=#{rechargeOrderNumber};
	</select>
</mapper>