<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrj.mapper.BalanceMapper">
	<!--留着以后用  -->
	<!--修改用户余额-->
	<update id="updateUserBalance" parameterType="java.util.HashMap">
		UPDATE balance SET balance=#{balanceMoney} WHERE user_id=#{userId}
	</update>
</mapper>