<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrj.mapper.GivenBalanceMapper">

	<!--留着以后用  -->
	<select id="selectAllByUserId" resultType="com.lrj.pojo.GivenBalance"
			parameterType="java.util.Map">
		SELECT
		*
		FROM
		given_balance
		WHERE
		user_id = #{userId}
		AND expired = 0
		AND	expiration_time &gt;#{dateNowTime}<!--过期时间校验-->
		ORDER BY expiration_time
		;<!--无过期-->
	</select>
</mapper>