<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
                >
<mapper namespace="com.lrj.mapper.IDistributionStationMapper">
    <select id="getDistriButionStationList" resultType="com.lrj.pojo.DistributionStation">
        SELECT * FROM distribution_station;
    </select>

    <select id="getDistriButionStationById" parameterType="com.lrj.pojo.DistributionStation" resultType="com.lrj.pojo.DistributionStation">
        SELECT * FROM distribution_station WHERE distribution_station_id=#{distributionStationId}
    </select>

</mapper>