<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
                >
<mapper namespace="com.lrj.mapper.IHouseServiceMapper">
	<!--通过家政类型查询家政服务项目-->
    <select id="getHouseService" parameterType="Integer" resultType="com.lrj.VO.HouseServiceVo">
	SELECT
	app_item_id AS id,
	item_category_id AS itemCategoryId,
	house_service_type AS type,
	item_name AS houseName,
	commodity_explain AS include,
	accept_norm AS acceptNorm,
	price AS price,
	house_service_note AS serviceNote,
	picture AS picture,
	house_service_time AS serviceTime
	FROM
	app_item
	WHERE
	item_category_id = #{itemCategoryId}
	AND
	is_show = 1
    </select>
	<!--通过家政ID 查询对应家政信息-->
	<select id="getHouseServiceByItemId" parameterType="java.lang.Integer" resultType="com.lrj.VO.HouseServiceVo">
		SELECT
		app_item_id AS id,
	  	item_category_id AS itemCategoryId,
		house_service_type AS type,
		item_name AS houseName,
		item_unit AS itemUnit,
		accept_norm AS acceptNnorm,
		price AS price,
		house_service_note AS serviceNote,
		picture AS img
		FROM
		app_item
		WHERE
		app_item_id = #{houseServiceId}
		AND
		active = 1
	</select>
	<!--查询家政导航栏-->
	<select id="getHouseServicePidList" resultType="com.lrj.VO.HouserServicePidVo">
		SELECT app_item_category_id AS itemCategoryId,
			category_name AS categoryName,
			categrory_pic AS categoryPic,
			pid AS pid,
			is_show AS isShow
			FROM app_item_category
			WHERE pid=25
	</select>
	<!--家政个性服务-->
	<select id="getCustomHouseService" resultType="com.lrj.VO.HouseServiceVo">
	SELECT
	app_item_id AS id,
	item_category_id AS itemCategoryId,
	house_service_type AS type,
	item_name AS houseName,
	commodity_explain AS include,
	accept_norm AS acceptNorm,
	price AS price,
	house_service_note AS serviceNote,
	picture AS picture,
	house_service_time AS serviceTime,
	item_unit AS itemUnit
	FROM
	app_item
	WHERE
	house_service_type =2
	AND
	is_show = 1
	</select>
</mapper>