<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
                >
<mapper namespace="com.lrj.mapper.IUserMapper">
    <select id="getHouseService" parameterType="Integer" resultType="com.lrj.VO.HouseServiceVo">
	SELECT
	id AS id,
	type_id AS typeId,
	name AS name,
	include,
	service_time AS serviceTime,
	price AS price,
	service_explain AS serviceExplain,
	img AS img,
	FROM
	houseservice_item
	WHERE
				type_id = #{typeId}
			AND
				active = 1
    </select>
</mapper>