<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
                >
<mapper namespace="com.lrj.mapper.IItemMapper">
    <select id="getItemListByCategoryId" resultType="com.lrj.VO.AppItemVo" parameterType="HashMap">
        <![CDATA[
			SELECT
				a.app_item_id AS itemId,
				a.item_name AS itemName,
				a.item_unit AS itemUnit,
				a.price,
				a.commodity_explain AS commodityExplain,
				a.picture,
				a.duration,
				IFNULL(
		(
			SELECT
				b.quantity
			FROM
				app_shopping b
			WHERE
				b.item_id = a.app_item_id
			AND b.user_id = #{userId}
		),
		0
	) AS inShoppingCartCount
			FROM
				app_item a
			WHERE
				a.item_category_id = #{categoryId}
			AND a.is_show = 1
			ORDER BY
			    a.app_item_id asc
			LIMIT
	         	#{start},#{rows}
        ]]>
    </select>

    <!--根据商品ID获取商品的顶层类别ID -->
    <select id="getItemCategoryByItemId" parameterType="Integer"
            resultType="Integer">
        SELECT
        IFNULL(
        c.app_item_category_id,
        b.app_item_category_id
        )
        FROM
        app_item a
        LEFT JOIN app_item_category b ON
        a.item_category_id =
        b.app_item_category_id
        LEFT JOIN app_item_category
        c ON b.pid = c.app_item_category_id
        WHERE
        a.app_item_id = #{itemId}
    </select>

</mapper>