<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
                >
<mapper namespace="com.lrj.mapper.IItemMapper">
    <select id="getItemListByCategoryId" resultType="com.lrj.VO.AppItemVo" parameterType="HashMap">
        <![CDATA[
			SELECT
				a.app_item_id AS itemId,
				a.item_name AS itemName,
				a.item_unit AS itemUnit,
				a.price,
				a.commodity_explain AS commodityExplain,
				a.picture,
				a.duration,
				IFNULL(
		 (
			SELECT
				b.quantity
			FROM
				app_shopping b
			WHERE
				b.item_id = a.app_item_id
			AND b.user_id = #{userId}
		),
		0
	) AS inShoppingCartCount
			FROM
				app_item a
			WHERE
				a.item_category_id = #{categoryId}
			AND a.is_show = 1
			ORDER BY
			    a.price ASC
			LIMIT
	         	#{start},#{rows}
        ]]>
    </select>

    <!--根据商品ID获取商品的顶层类别ID -->
    <select id="getItemCategoryByItemId" parameterType="Integer"
            resultType="Integer">
        SELECT item_category_id AS itemCategoryId
        FROM app_item
        WHERE
        app_item_id = #{itemId}
    </select>

    <!--通过itemId 查询商品信息-->
    <select id="getItemInfoByItemId" parameterType="java.lang.Integer" resultType="com.lrj.VO.AppItemVo">
        SELECT app_item_id AS itemId,
        item_category_id AS itemCategoryId,
        item_name AS itemName,
        item_unit AS itemUnit,
        price AS price,
        picture AS picture
        FROM app_item
        WHERE app_item_id=#{itemId}
    </select>
    <!--通过 itemCategoryId 查询商品类别信息-->
    <select id="getItemCategoryInfoByCategoryId" parameterType="java.lang.Integer" resultType="com.lrj.VO.ItemCategoryVo">
        SELECT app_item_category_id AS categoryId,
        category_name AS categoryName
        FROM app_item_category
        WHERE app_item_category_id=#{itemCategoryId}
    </select>

    <!--查询限时特价商品-->
    <select id="getSpecialItem" resultType="com.lrj.VO.AppItemVo">
        SELECT app_item_id AS itemId,
                item_name AS itemName,
                item_unit AS itemUnit,
                price AS price,
                picture AS picture,
                promotion_original_cost AS promotionOriginalCost,
                commodity_explain AS commodityExplain,
                duration AS duration,
                promotion_end_date AS promotionEndDate
        FROM app_item
        WHERE bargain_type='TIME_LIMIT_SALE'
    </select>

    <update id="updateImagesUrl" parameterType="java.util.Map">
      UPDATE app_item SET picture=#{picture} WHERE app_item_id=#{itemId}
    </update>

    <select id="getItemList" resultType="com.lrj.VO.AppItemVo">
        SELECT * FROM app_item;
    </select>
</mapper>