<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrj.mapper.IMonthCardMapper">
	<!--查询所有可购买月卡 -->
	<select id="getMonthCardList" resultType="com.lrj.pojo.MonthCard">
		select * from wx_month_card;
	</select>
	<!--通过ID 查询具体月卡内容-->
	<select id="getMonthCardById" parameterType="java.lang.Integer" resultType="com.lrj.pojo.MonthCard">
	  	select * from wx_month_card WHERE card_id=#{monthCardId}
	</select>
	<!--查询月卡可洗具体内容-->
	<select id="getMonthCardWashingCountList" parameterType="java.lang.Integer" resultType="com.lrj.VO.MonthCardWashingCountVo">
		SELECT item_id AS itemId,
			  item_num AS `count`,
			  washing_type AS washingType
		 FROM app_month_card_item
		 WHERE card_id=#{id}
	</select>
</mapper>