<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
                >
<mapper namespace="com.lrj.mapper.IOrderCommentMapper">

    <select id="listLatestOrderComment" resultType="com.lrj.VO.OrderCommentVo">
        SELECT
        a.comment_content AS commentContent,
        a.create_time AS createTime,
        IFNULL(
        ROUND(
        (
        a.distributionStar + a.qualityStar + a.serviceStar
        ) / 3
        ),
        a.comment_level
        ) AS star,
        a.commentImage,
        b.head_photo AS headPhoto,
        IFNULL(b.nick_name,
        '匿名用户') AS nickname,
        b.user_phone as userPhone
        FROM
        order_comment a
        LEFT JOIN app_user
        b ON a.user_id = b.app_user_id
        WHERE
        a.isVisible =1
        ORDER BY
        a.create_time DESC
        LIMIT 0,20
    </select>

    <!--根据员工Id 查询对应服务的评论-->
    <select id="getMyReservationComment" parameterType="java.lang.Integer" resultType="com.lrj.VO.OrderCommentVo">
      select order_comment_id AS commentId,
            user_id AS userId,
            reservation_id AS reservationId,
            star AS star,
            comment_content AS commentContent,
            commentImage AS commentImage,
            create_time AS createTime,
            remark AS remark
      FROM order_comment WHERE isVisible=1 AND staff_id=#{staffId}
    </select>

    <!--添加 服务单评论-->
    <insert id="addReservationComment" parameterType="com.lrj.VO.OrderCommentVo">
        INSERT INTO order_comment(user_id,reservation_id,star,comment_content,isVisible,create_time,remark)
        VALUES (#{userId},#{reservationId},#{star},#{commentContent},1,#{createTime},#{remark})
    </insert>

    <!--添加服务单评论 图片路径-->
    <update id="uploaduserCommentImages" parameterType="java.util.HashMap">
     UPDATE order_comment SET comment_image=#{photo} WHERE reservation_id=#{reservationId} AND user_id=#{userId}
    </update>
</mapper>