<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
                >
<mapper namespace="com.lrj.mapper.IOrderMapper">
	<insert id="createOrder" parameterType="com.lrj.VO.OrderVo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `order` (order_number,user_id,total_price,status,pay_status,create_time,order_type,user_coupon_id)
		VALUES  (#{orderNumber},#{userId},#{totalPrice},#{status},#{payStatus},#{createTime},#{orderType},#{userCouponId})
	</insert>
    <!--通过订单号查询订单-->
	<select id="getOrderByOrderNumber" parameterType="java.lang.String" resultType="com.lrj.VO.OrderVo">
		  SELECT order_number AS orderNumber,
		  		user_id AS userId,
		  		total_price AS totalPrice,
		  		status AS status,
		  		pay_status AS payStatus,
		  		create_time AS createTime,
		  		order_type AS orderType,
		  		user_coupon_id AS userCouponId
		  FROM `order` WHERE order_number=#{orderNumber}
	</select>
    <!--保存单项洗衣订单-->
    <insert id="createWashingOrder" parameterType="com.lrj.VO.Order_washingVo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO order_washing (order_number,take_time,take_consignee_id,send_consignee_id,urgent_price,is_lock,shopping_json,service_price)
        VALUES  (#{orderNumber},#{takeTime},#{takeConsigneeId},#{sendConsigneeId},#{urgentPrice},#{isLock},#{shoppingJson},#{servicePrice})
    </insert>
	<!--保存 月卡订单-->
	<insert id="createMonthCardOrder" parameterType="com.lrj.VO.Order_monthCardVo">
		INSERT INTO order_month_card (order_number,user_id,active,month_card_id,user_month_card_count,create_time,end_time)
		VALUES  (#{orderNumber},#{userId},#{active},#{monthCardId},#{userMonthCardCount},#{createTime},#{endTime})
	</insert>
    <!--保存单项家政服务订单-->
    <insert id="createHouseServiceOrder" parameterType="com.lrj.VO.Order_houseServiceVo">
      	INSERT INTO order_house_service (order_number,item_id,is_lock,take_consigneeId,active,create_time)
		VALUES  (#{orderNumber},#{houseServiceId},#{isLock},#{takeConsigneeId},#{active},#{createTime})
    </insert>
    <!--保存定制家政服务订单-->
    <insert id="createCustomHouseServiceOrder" parameterType="com.lrj.VO.Order_custom_houseServiceVo">
	INSERT INTO order_custom_house_service (order_number,open_time,end_time,base_service_count,base_service_price,individual_service_json,service_cycle,work_time,house_area)
		VALUES  (#{orderNumber},#{openTime},#{endTime},#{baseServiceCount},#{baseServicePrice},#{individualServiceJson},#{serviceCycle},#{workTime},#{houseArea})
    </insert>
	<!--修改基础订单支付状态-->
	<update id="updateOrderPayStatus" parameterType="java.lang.String" useGeneratedKeys="true" keyProperty="id">
	  UPDATE `order` SET pay_status=1 WHERE order_number=#{orderNumber}
	</update>
	<!--查询用户的订单-->
	<select id="getOrderListByUserId" parameterType="java.lang.Integer" resultType="com.lrj.VO.OrderVo">
		SELECT order_number AS orderNumber,
		  		user_id AS userId,
		  		total_price AS totalPrice,
		  		status AS status,
		  		pay_status AS payStatus,
		  		create_time AS createTime,
		  		order_type AS orderType,
		  		user_coupon_id AS userCouponId
		  FROM `order` WHERE user_id=#{userId}
	</select>

	<!--查询单项洗衣订单-->
	<select id="getWashingOrderByOrderNumber" resultType="com.lrj.VO.Order_washingVo" parameterType="java.lang.String">
		SELECT take_consignee_id AS takeConsigneeId,
				send_consignee_id AS sendConsigneeId
				take_time AS takeTime,
				urgent_price AS urgentPrice,
				is_lock AS isLock,
				shopping_json AS shoppingJson,
				service_price AS servicePrice
				FROM order_washing
		WHERE order_number=#{orderNumber}
	</select>
	<!--查询用户月卡-->
	<select id="getMonthCatdOrder" resultType="com.lrj.VO.Order_monthCardVo" parameterType="java.lang.String">
	  SELECT id AS id,
	  		order_number AS orderNumber,
	  		user_id AS userId,
	  		month_card_id AS monthCardId,
	  		user_month_card_count AS userMonthCardCount,
	  		user_month_card_item_json AS userMonthCardItemJson,
	  		create_time AS createTime,
	  		end_time AS endTime
	  WHERE order_number=#{orderNumber} AND active=1
	</select>
	<!--更改月卡订单为不可用-->
	<update id="updateUserMonthCardActive">
		UPDATE order_month_card SET active=0 WHERE order_number=#{orderNumber}
	</update>
	<!--更改月卡订单可使用次数-->
	<update id="updateUserMonthCardCout" parameterType="java.util.HashMap">
		UPDATE order_month_card SET user_month_card_count=#{monthCardCount} WHERE order_number=#{orderNumber}
	</update>
	<!--更改定制家政订单为不可用-->
	<update id="updateUserHouseServiceActive" parameterType="java.lang.String">
		UPDATE order_custom_house_service SET active=1 WHERE order_number=#{orderNumber}
	</update>
	<!--更改定制家政订单可使用次数-->
	<update id="updateUserHouseServiceBaseServiceCount" parameterType="java.util.HashMap">
		UPDATE order_custom_house_service SET base_service_count=#{houseServiceBaseServiceCount} WHERE order_number=#{orderNumber}
	</update>
	<!--锁定单项洗衣订单-->
	<update id="lockWashingOrder" parameterType="java.lang.String">
		UPDATE order_washing SET is_lock =1 WHERE order_number=#{orderNumber} AND is_lock=0
	</update>

	<!--添加订单备注-->
	<insert id="addOrderRemark" parameterType="com.lrj.VO.SmsTemplateVo">
			INSERT INTO sms_template (is_wear_out,is_dye,is_balling_up,is_yellow_white,is_cross_color,other,create_time,order_number)
		VALUES  (#{isWearOut},#{isDye},#{isBallingUp},#{isYellowWhite},#{isCrossColor},#{other},#{createTime},#{orderNumber})
	</insert>
	<!--删除订单备注-->
	<delete id="deleteOrderRemark" parameterType="java.lang.String">
		DELETE FROM sms_template WHERE order_number =#{orderNumber}
	</delete>
</mapper>