<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
                >
<mapper namespace="com.lrj.mapper.IShoppingMapper">
    <select id="getShoppingDetails" resultType="com.lrj.VO.ShoppingVo" parameterType="Integer">
       SELECT
				i.app_item_id AS itemId,
				i.item_name AS itemName,
				i.price,
				i.picture,
				i.item_unit AS itemUnit,
				i.item_category_id AS itemCategoryId,
				s.is_pouch AS isPouch,
				s.support_value AS supportValue,
				s.support_scope AS supportScope,
				s.support_money AS supportMoney,
				s.quantity,
				s.app_shopping_id AS shoppingId,
				s.first
			FROM
				app_shopping s
			LEFT JOIN app_item i ON s.item_id = i.app_item_id
			WHERE
			 s.user_id = #{userId}
    </select>

	<!-- 查询用户购物车明细 -->
	<select id="getUserShopping" parameterType="java.util.HashMap" resultType="com.lrj.VO.ShoppingVo">
			SELECT
				*
			FROM
				app_shopping
			WHERE
				user_id = #{userId}
			AND
				item_id = #{itemId}
	</select>

	<!--增加购物车商品数量 -->
	<update id="updateUserShopping" parameterType="java.util.HashMap">
			UPDATE app_shopping
			SET quantity = quantity + 1
			WHERE
				user_id = #{userId}
			AND item_id = #{itemId}
	</update>

	<!-- 更新购物车商品数量 -->
	<update id="updateUserShoppingQuantity" parameterType="java.util.HashMap">
		UPDATE
		app_shopping
		SET quantity = #{quantity}
		WHERE
		user_id = #{userId}
		AND
		item_id = #{itemId}
	</update>

	<!-- 加入购物车 -->
	<insert id="insertAppShopping" parameterType="com.lrj.VO.ShoppingVo">
			INSERT INTO app_shopping
			(
			  user_id,
			  item_id,
			  quantity,
			  support_value,
			  is_pouch,
			  first
			)
			VALUES
			(
			   #{userId},
			   #{itemId},
			   #{quantity},
			   #{supportValue},
			   #{isPouch},
			   #{first}
			)
	</insert>

	<!-- 滑动删除商品（批量删除） -->
	<delete id="deleteShoppingId" parameterType="java.lang.Integer">
		DELETE
		FROM
		app_shopping
		WHERE
		app_shopping_id = #{shoppingId}
	</delete>
	<!--清空购物车 -->
	<delete id="emptyShopCart" parameterType="java.lang.Integer">
		DELETE
		FROM
		app_shopping
		WHERE
		app_shopping.user_id = #{userId}
	</delete>
</mapper>