<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrj.mapper.IStaffMapper">
	<!--通过Id查询员工信息-->
	<select id="getStaffInfoByStaffId" parameterType="java.lang.Integer" resultType="com.lrj.VO.StaffInfoVo">
	SELECT * FROM app_staff
		WHERE app_staff_id=#{staffId}
		AND active=1
	</select>
	<!--通过登录名查询员工信息-->
	<select id="findStaffInfoByLoginInfo" parameterType="java.lang.String" resultType="com.lrj.VO.StaffInfoVo">
		SELECT * FROM app_staff WHERE staff_name=#{loginName}
		AND active=1
	</select>
	<!--更改密码-->
	<update id="updateStaffPassWord" parameterType="java.util.HashMap">
		UPDATE app_staff SET staff_password=#{newPassWord} WHERE app_staff_id=#{staffId}
	</update>

	<!--根据手机号 查询员工信息-->
	<select id="findStaffInfoByPhone" parameterType="java.lang.String" resultType="com.lrj.VO.StaffInfoVo">
		select * from app_staff WHERE telephone=#{staffPhone};
	</select>
	<!--员工注册-->
	<insert id="staffRegister" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="appStaffId" >
		insert into  app_staff(staff_name,staff_password,telephone,address,type,staff_age,register_time) values (#{userName},#{userPassWord},#{userPhone},#{userAddress},#{staffType},#{userAge},#{registerTime});
	</insert>

	<!--服务单完成后  算钱-->
	<update id="updateStaffInfoAfterEnd" parameterType="com.lrj.VO.StaffInfoVo">
		UPDATE app_staff
		<trim prefix="set" suffixOverrides=",">
			<if test="#{money} !=null">money=#{money},</if>
			<if test="#{serviceTime} !=null">service_time=#{serviceTime},</if>
			<if test="#{service_count} !=null">service_count=#{serviceCount},</if>
		</trim>
		WHERE app_staff_id=#{appStaffId}
	</update>
	<!--留着以后用  -->
</mapper>