<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrj.mapper.RebateMapper">
	<!--添加 返利 信息-->
	<insert id="add" parameterType="com.lrj.pojo.Rebate">
		insert into app_rebate (user_id,low_id,back_money,create_time,`type`,source,order_number)
		values (#{userId},#{lowId},#{backMoney},#{createTime},#{type},#{source},#{orderNumber})
	</insert>

</mapper>