<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrj.mapper.ReservationMapper">
	<!--留着以后用  -->
	<!--查询用户的所有服务-->
	<select id="getReservationListByUserId" resultType="com.lrj.pojo.Reservation">
		SELECT * FROM reservation WHERE user_id=#{userId}
	</select>
	<select id="getWashingOrderList" resultType="com.lrj.pojo.Reservation">
		SELECT * FROM reservation WHERE status=0 AND order_type IN (1,2)
	</select>
	<select id="getHouseServiceOrderList" resultType="com.lrj.pojo.Reservation">
		SELECT * FROM reservation WHERE status=0 AND order_type IN (3,4)
	</select>
	<!--保存预约单-->
	<insert id="insertReservation" parameterType="com.lrj.pojo.Reservation" useGeneratedKeys="true" keyProperty="reservationId">
			INSERT INTO reservation (status,tracking_status,order_type,grab_order_id,address,create_time,update_time,user_id,order_number,longitude,latitude,reservation_json)
		VALUES  (#{status},#{trackingStatus},#{orderType},#{grabOrderId},#{address},#{createTime},#{updateTime},#{userId},#{orderNumber},#{longitude},#{latitude},#{reservationJson})
	</insert>
	<!--锁定预约订单,并绑定锁单人-->
	<update id="lockReservation" parameterType="java.lang.String" useGeneratedKeys="true" keyProperty="reservation_id">
		UPDATE reservation SET status=1,grab_order_id=#{staffId} WHERE order_number=#{orderNumber} AND status=0
	</update>
	<!--更新预约订单的追踪状态-->
	<update id="updateReservationStatus" parameterType="java.util.HashMap">
		UPDATE reservation SET status=#{traceStatus} WHERE order_number=#{order_number} AND grab_order_id=#{staffId}
	</update>
	<!--根据状态和账号 查询对应预约单-->
	<select id="getReservationList" parameterType="java.lang.Integer" resultType="com.lrj.pojo.Reservation">
		SELECT * FROM reservation WHERE status=#{status} AND grab_order_id=#{staffId}
	</select>
	<!--根据员工ID 查询对应的家政服务 工作时长-->
	<select id="getHouseServiceWorkTime" parameterType="java.lang.Integer" resultType="com.lrj.VO.HouseServiceWorkTimeVo">
		SELECT id AS id,
		staff_id AS staffId,
		open_time AS openTime,
		end_time AS endTime,
		order_number AS orderNumber,
		reservation_id AS reservationId,
		total_time AS totalTime,
		status AS status
		FROM houseservice_work_time
		WHERE staff_id=#{staffId}
		AND status="1"
	</select>
</mapper>