<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrj.mapper.ReservationMapper">
	<!--留着以后用  -->
	<!--查询用户的所有服务单-->
	<select id="getReservationListByUserId" resultType="com.lrj.pojo.Reservation">
		SELECT * FROM reservation WHERE user_id=#{userId} AND status IN (0,1,3,4)
	</select>
	<!--根据追踪状态和Id 查询员工对应的取件服务单-->
	<select id="getReservationByStatus1" parameterType="java.util.HashMap" resultType="com.lrj.pojo.Reservation">
		SELECT * FROM reservation WHERE tracking_status=#{trackingStatus} AND grab_order_id_take=#{staffId}
	</select>
	<!--根据追踪状态和Id 查询员工对应的送件服务单-->
	<select id="getReservationByStatus2" parameterType="java.util.HashMap" resultType="com.lrj.pojo.Reservation">
		SELECT * FROM reservation WHERE user_id=#{userId} AND status IN (0,1,3,4)
	</select>
	<!--根据预约单Id 查询该预约单-->
	<select id="getReservationByReservationId" parameterType="java.lang.Integer" resultType="com.lrj.pojo.Reservation">
		SELECT * FROM reservation WHERE reservation_id=#{reservationId}
	</select>
	<select id="getWashingOrderList" resultType="com.lrj.pojo.Reservation">
		SELECT * FROM reservation WHERE grab_order_id_take is NULL AND order_type IN (1,2)
	</select>
	<select id="getHouseServiceOrderList" resultType="com.lrj.pojo.Reservation">
		SELECT * FROM reservation WHERE grab_order_id_take is NULL AND order_type IN (3,4)
	</select>
	<!--保存预约单-->
	<insert id="insertReservation" parameterType="com.lrj.pojo.Reservation" useGeneratedKeys="true" keyProperty="reservationId">
			INSERT INTO reservation (status,tracking_status,order_type,grab_order_id_take,address,create_time,update_time,user_id,order_number,longitude,latitude,reservation_json,is_urgent,is_service,total_price,is_end,get_clothes_time)
		VALUES  (#{status},#{trackingStatus},#{orderType},#{grabOrderIdTake},#{address},#{createTime},#{updateTime},#{userId},#{orderNumber},#{longitude},#{latitude},#{reservationJson},#{isUrgent},#{isService},#{totalPrice},#{isEnd},#{getClothesTime})
	</insert>
	<!--锁定预约订单,并绑定锁单人-->
	<update id="lockReservation" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="reservation_id">
		UPDATE reservation SET grab_order_id_take=#{staffId},tracking_status=1 WHERE reservation_id=#{reservationId} AND status=3
	</update>
	<!--更新预约订单的追踪状态-->
	<update id="updateReservationTrackingStatus" parameterType="java.util.HashMap">
		UPDATE reservation
		<trim prefix="set" suffixOverrides=",">
			<if test="_parameter.containsKey('traceStatus')">tracking_status=#{traceStatus},</if>
			<if test="_parameter.containsKey('houseServiceBeginTime')">house_service_begin_time=#{houseServiceBeginTime},</if>
			<if test="_parameter.containsKey('houseServiceEndTime')">house_service_end_time=#{houseServiceEndTime},</if>
		</trim>
		  WHERE reservation_id=#{reservationId} AND grab_order_id_take=#{staffId}
	</update>
	<!--更新预约订单的状态-->
	<update id="updateReservationStatus" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="reservationId">
		UPDATE reservation SET status=#{status} WHERE order_number=#{orderNumber}
	</update>
	<!--根据状态和账号 查询对应预约单-->
	<select id="getReservationList" parameterType="java.lang.Integer" resultType="com.lrj.pojo.Reservation">
		SELECT * FROM reservation WHERE status=#{status} AND grab_order_id=#{staffId}
	</select>
	<!--根据员工ID 查询对应的家政服务 工作时长-->
	<select id="getHouseServiceWorkTime" parameterType="java.lang.Integer" resultType="com.lrj.VO.HouseServiceWorkTimeVo">
		SELECT id AS id,
		staff_id AS staffId,
		open_time AS openTime,
		end_time AS endTime,
		order_number AS orderNumber,
		reservation_id AS reservationId,
		total_time AS totalTime,
		status AS status
		FROM houseservice_work_time
		WHERE staff_id=#{staffId}
		AND status="1"
	</select>
</mapper>