<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrj.mapper.UserMonthCardMapper">
       <!--留着以后用  -->
       <!--查询某个用户的月卡-->
       <select id="selectUserMonthCard" resultType="com.lrj.VO.UserMonthCardVo">
        select a.`id`,
       a.`used_count` as usedCount,
       a.`total_count` as totalCount,
       a.`user_id` as userId,
       a.`wx_month_card_id` as wxMonthCardId,
       a.`status`,
       a.`start_time` as startTime,
       a.`end_time` as endTime,
       a.`option_time` as optionTime,
       a.m_used_count as mUsedCount,
       a.m_total_count as mTotalCount,
       a.address_id as addressId,
       b.name as cardName,
       b.time_type as cardTimeType,
       a.is_auto as isAuto
from user_wx_month_card a left join wx_month_card b on b.id = a.wx_month_card_id
where a.user_id = #{userId}
    </select>

       <!--查询预约订单列表-->
       <select id="selectOrderList" parameterType="com.lrj.VO.BuyCardOptionVo"
               resultType="com.lrj.VO.OrderAppointVo">
              select
              a.app_order_id,
              a.user_id, a.total_price, a.status, a.pay_status, a.take_address, a.receive_address, a.is_lock,
              a.trace_status, a.take_time, a.create_time, a.isYearsService,
              b.name, b.address, b.consignee_name as consigneeName,
              b.is_default as isDefault
              from app_order a left join app_consignee b on b.app_consignee_id = a.take_address
              where a.user_id = #{userId}
              and (a.isYearsService = 100 or a.isYearsService = 101 or a.isYearsService = 102 or a.isYearsService = 5)
              <if test="status!=null">
                     and a.status = #{status}
              </if>
              <if test="status!=null">
                     and a.status != -1
              </if>
              order by a.create_time desc limit #{currentPage}, #{pageSize}
       </select>
</mapper>