<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrj.mapper.UserMapper">
	<select id="findUserAddressByUserId" parameterType="String" resultType="com.lrj.VO.ConsigneeVo">
        SELECT
			  app_consignee_id AS consigneeId,
			  consignee_name AS consigneeName,
			  consignee_mobile AS consigneeMobile,
			  name,
			  address,
			  is_default AS isDefault
			FROM
				app_consignee
			WHERE
				user_id = #{userId}
			AND
				active = 1
    </select>

	<select id="getUserInfoByUserPhone" parameterType="String" resultType="com.lrj.VO.UserInfoVo">
		SELECT
				*
			FROM
				app_user
			WHERE
				user_phone = #{userPhone}
	</select>

	<select id="getUserInfoByUserId" parameterType="java.lang.Integer" resultType="com.lrj.VO.UserInfoVo">
		SELECT
		*
		FROM
		app_user
		WHERE
		app_user_id = #{userId}
	</select>

	<select id="getUserByInviteCode"  parameterType="String" resultType="com.lrj.VO.UserInfoVo">
		SELECT
				*
			FROM
				app_user
			WHERE
				invitation_code = #{inviteCode}
	</select>

	<insert id="addUser" parameterType="com.lrj.VO.UserInfoVo" useGeneratedKeys="true" keyProperty="appUserId">
		INSERT INTO sys_user (user_phone,user_password,nickname,head_photo,device_token,active,create_time,ischeck,invitedCode)
		VALUES  (#{userPhone},#{userPassword},#{nickname},#{headPhoto},#{deviceToken},#{active},#{createTime},#{ischeck},#{invitedCode})
	</insert>

	<!--查询用户红包-->
	<select id="getUserRedPacket" parameterType="java.lang.Integer" resultType="com.lrj.VO.UserCouponVo">
	  SELECT
			a.id AS id,
			a.create_time AS createTime,
			a.limit_time AS limitTime,
			a.sys_coupon_id AS sysCouponId,
			a.active AS active,
			b.denomination AS denomination,
			b.type AS couponType,
			b.instructions AS useInstructions
			FROM
			  	user_coupon a LEFT JOIN sys_coupon b ON a.sys_coupon_id = b.sys_coupon_id
			WHERE
				a.user_id = #{userId}
			AND
				a.active = 1
	</select>

	<!--更新红包-->
	<update id="updateCoupon" parameterType="java.lang.Integer">
		UPDATE user_coupon SET active = 1 WHERE id = #{couponId}
	</update>

	<!--查询用户等级信息-->
	<select id="getUserLevelInfo" parameterType="java.lang.Integer" resultType="com.lrj.VO.UserLevelVo">
		 SELECT
			a.user_id AS userId,
			a.level_id AS levelId,
			a.invite_num AS inviteNum,
			b.digimarc AS digimarc,
			b.level_name AS levelName,
			b.description AS description,
			b.discount AS discount,
			b.distribution_ratio AS distributionRatio,
			b.remark AS remark,
			b.privilege_description AS privilegeDescription
			FROM
			  	user_level a LEFT JOIN level b ON a.level_id = b.level_id
			WHERE
				a.user_id = #{userId}
	</select>

	<insert id="giveFeeBack" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="app_feedback_id">
		INSERT INTO app_rebate (user_id,invited_id,back_money,create_time,status)
		VALUES  (#{userId},#{invitedId},#{backMoney},#{createTime},#{status})
	</insert>

	<!--用户资金信息-->
	<select id="getUserBalanceInfo" parameterType="java.lang.Integer" resultType="com.lrj.pojo.Balance">
		SELECT  user_id AS userId,
		balance AS balance,
		top_up_amount AS topupAmount,
		expend_amount AS expendAmount,
		last_modify_time AS lastModifyTime,
		create_time AS createTime
		FROM balance
		WHERE user_id=#{userId}
	</select>

	<!--分享订单后获得红包（需分享用户下单后生效）-->
	<insert id="sendRandomCoupon" parameterType="com.lrj.VO.UserCouponVo">
		INSERT INTO user_coupon (user_id,create_time,limit_time,active,denomination,source,coupon_type,useInstructions,order_number)
		VALUES  (#{userId},#{createTime},#{limitTime},#{active},#{denomination},#{source},#{couponType},#{useInstructions},#{orderNumber})
	</insert>

	<!--查询用户的返利记录（收益记录）-->
	<select id="getUserRebate" parameterType="java.lang.Integer" resultType="com.lrj.VO.UserRebateVo">
		SELECT id AS id,
				user_id AS userId,
				low_id AS lowId,
				back_money AS backMoney,
				create_time AS createTime,
				`type` AS userType,
				source AS source,
				order_number AS orderNumber
				FROM app_rebate
				WHERE user_id=#{userId}
	</select>

	<!--通过superId 查询用户的所有下线-->
	<select id="getMyInvitePeople" parameterType="java.lang.Integer" resultType="com.lrj.VO.UserInfoVo">
		SELECT
		*
		FROM
		app_user
		WHERE
		super_id = #{userId}
	</select>

	<!--添加用户支付宝账号-->
	<update id="addUserAliAccount" parameterType="com.lrj.VO.UserInfoVo" useGeneratedKeys="true" keyProperty="appUserId">
		UPDATE app_user SET reality_name=#{realityName},ali_account=#{aliAccount}
		WHERE app_user_id=#{appUserId}
	</update>

	<insert id="userWithdraw" parameterType="com.lrj.VO.UserRebateVo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO app_rebate (user_id,back_money,create_time,type,source)
		VALUES  (#{userId},#{backMoney},#{createTime},#{userType},#{source})
	</insert>
	
	<select id="getUserBalanceRecordList" parameterType="java.lang.Integer" resultType="com.lrj.pojo.BalanceRecord">
		select * from balance_log WHERE user_id=#{userId};
	</select>
	<!--留着以后用  -->
</mapper>